<div class="container">
<%= form_for(@article) do |f| %>
  <%= f.label :title, class: "input" %>
  <%= f.text_field :title, class: "form-control"  %>
  <%= f.label :content, class: "input" %>
  <%= f.text_field :content, class: "form-control content" %>
  <%= f.submit class: "btn btn-primary margin" %>
<% end %>
</div>
